/*Hello section ---------------------*/

#home .hello {
    margin:auto;
    width:500px;
    color:white;
    padding:10px;
    text-align:center;
}

#home .hello h1 {
    font-size:3em;
    margin:auto;
    padding:40px 0 40px 0;
}

#home .hello h2 {
    text-align: center;
}

/*About section -------------------*/
#aboutHeader, #contactHeader {
    position:absolute;
    top:20px;
    left:30px;
}

.aboutSection {
    width:1000px;
    height:500px;
    margin:auto;
    display:flex;
}

.aboutText, .aboutImages {
    width:50%;
    box-sizing: border-box;
    display:flex;
    margin:auto;
}

.aboutText, .aboutImages {
    height:50%;
}

.fontSpacer, .imagesSpacer {
    display:flex;
    flex-direction: column;
    margin:auto;
}

.fontSpacer {
    height:50%;
    justify-content: space-around;
}

.fontSpacer p {
    line-height: 1.75em;
    text-align:left;
}

.imagesSpacer {
    width:75%;
    height:100%;
}

.row {
    display:flex;
    margin:auto;
    width:100%;
    justify-content: space-evenly;
}

.row img {
    height:45px;
    width:45px;
    padding: 1em;
}


/*Work section ------------------*/

#workHeader {
    position: absolute;
    bottom:20px;
    left:30px;
}

.partial {
    width:1200px;
    height:500px;
    margin:auto;
    display:flex;
}

.textLeft, .imageRight {
    width:50%;
    height:400px;
    display:flex;
    flex-direction: column;
    margin:auto;
}

.aWrapper {
    width:75%;
    height:75%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position:relative;
}

.aWrapper h1, .aWrapper p{
    text-align:left;
}

.aWrapper p {
    line-height: 1.75em;
}

.spanBox {
    display: flex;
    align-items:flex-start;
}

.spanBox span {
    margin: 0px 10px 0px 10px;
}

.spanBox .edge {
    margin: 0px 10px 0px 0px;
}

.imageRight {
    width:600px;
    height:400px;
    margin:auto;
}

.imageWrapper {
    width:100%;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Work section images --------------*/

#one {
    background-image: url("../assets/mobi-portfolio.jpg");
}

#two {
    background-image: url("../assets/kelley-portfolio.jpg");
}

#three {
    background-image: url("../assets/pc-builder-portfolio.jpg");
}

#four {
    background-image:url("../assets/house-picker-portfolio.jpg");
}

#five {
    background-image: url("../assets/captured-portfolio.jpg");
}

#six {
    background-image: url("../assets/iusm-portfolio.jpg");
}

/*Contact section ----------------------*/

.contactWrapper {
    margin:auto;
    width:1200px;
    height:500px;
    display:flex;
    flex-direction: column;
}

.contactContent {
    width:100%;
    height:75%;
    margin:auto;
    display:flex;
}

.contact-left, .contact-right {
    display:flex;
    margin:auto;
    width:50%;
    height:100%;
}

.contact-left {
    align-items: center;
}

.contact-left-wrapper {
    display:flex;
    width:75%;
    height:75%;
    margin:auto;
    flex-direction: column;
    justify-content: space-around;
}

.contact-left-wrapper p, h2 {
    text-align: left;
}

.contact-left-wrapper p {
    line-height: 1.75em;
}

.contact-right {
    flex-direction: column;
}

.contactRow {
    height:25%;
    width:50%;
    display:flex;
    margin:auto;
}

.left-of-row, .right-of-row {
    height:100%;
    display:flex;
    margin:auto;
}

.left-of-row {
    width:25%;
}

.right-of-row {
    width:75%;
}

.left-of-row img {
    width:45px;
    height:45px;
    margin:auto;
}

.left-of-row linked {
    width:48px;
}

.right-of-row p, .right-of-row a {
    margin:auto;
}

.right-of-row a {
    border-bottom: 1px solid #e06536;
    padding-bottom: .5em;
}

#footer {
    position: absolute;
    bottom:5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color:#7f7f7f;
}





