#home .hello {
    margin:auto;
    width:500px;
    color:white;
    padding:10px;
    text-align:center;
}

#home .hello h1 {
    font-size:48px;
    margin:auto;
    padding:40px 0 40px 0;
}


















#aboutHeader {
    position:absolute;
    top:20px;
    left:30px;
}

.aboutSection {
    width:1000px;
    height:500px;
    margin:auto;
    display:flex;
}

.aboutText, .aboutImages {
    width:50%;
    box-sizing: border-box;
    display:flex;
    margin:auto;
}

.aboutText, .aboutImages {
    height:50%;
}

.fontSpacer, .imagesSpacer {
    display:flex;
    flex-direction: column;
    margin:auto;
}

.fontSpacer {
    height:50%;
    justify-content: space-around;
}

.fontSpacer p {
    line-height: 1.75em;
    text-align:left;
}

.imagesSpacer {
    width:75%;
    height:100%;
}

.row {
    display:flex;
    margin:auto;
    width:100%;
    justify-content: space-evenly;
}

.row img {
    height:40px;
    width:40px;
    padding: 1em;
}




















#workHeader {
    position: absolute;
    bottom:20px;
    left:30px;
}

.partialsWrapper {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.partial {
    width:100%;
    height:500px;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    padding:10px;
    color:#000000;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.partial .textLeft {
    width:50%;
    height:100%;
    display: flex;
}

.partial .aWrapper {
    width:75%;
    height:75%;
    display:flex;
    flex-direction: column;
    margin:auto;
}

.aWrapper p {
    margin:auto;
    color:#424242;
}

.aWrapper a {
    color:white;
    padding:15px;
    width:150px;
    background-color:#457afb;
    border-radius:30px;
    text-decoration: none;
    text-align: center;
}

.aWrapper a:hover {
    background-color:#e06536;
}

.imageRight {
    width:50%;
    height:100%;
    display:flex;
}

.imageWrapper {
    width:600px;
    height:400px;
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#one {
    background-image: url("../assets/mobi-portfolio.jpg");
}

#two {
    background-image: url("../assets/kelley-portfolio.jpg");
}

#three {
    background-image: url("../assets/pc-builder-portfolio.jpg");
}

#four {
    background-image:url("../assets/house-picker-portfolio.jpg");
}

#five {
    background-image: url("../assets/captured-portfolio.jpg");
}

#six {
    background-image: url("../assets/iusm-portfolio.jpg");
}

#contactHeader {
    position:absolute;
    top:20px;
    left:30px;
}

#footer {
    position: absolute;
    bottom:5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color:#7f7f7f;
}





